p {
  margin: 0;
  padding: 0;
}

.listItem {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 300px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.infContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.svgIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 5px;
}

.btn {
  width: 60px;
  height: 20px;
}
