.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 15px;
    width: 250px;
}

.container {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 100px;
    margin: 0 auto;
}